html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.start {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

#startButton {
    vertical-align: center;
}

a {
    text-decoration: none;
}